@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer components {
  .container {
    @apply mx-auto px-6;
  }

  .bordered {
    @apply border border-gray-700 rounded;
  }

  .gradient {
    @apply bg-gradient-to-r from-gray-900 to-gray-800;
  }
}

@layer utilities {
  @screen sm {
    .container {
      @apply max-w-md;
    }
  }

  @screen md {
    .container {
      @apply max-w-lg;
    }
  }

  @screen lg {
    .container {
      @apply max-w-xl;
    }
  }

  @screen xl {
    .container {
      @apply max-w-2xl;
    }
  }
}