@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-gray-900 text-white;
}

.container {
  @apply mx-auto px-6 py-12;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-gray-100;
}

p {
  @apply text-gray-400;
}

a {
  @apply text-blue-500;
}

button {
  @apply px-5 py-2 bg-blue-500 text-white rounded;
}

.navbar {
  @apply bg-gray-800;
}

.footer {
  @apply bg-gray-800;
}